<h1>New Product </h1>

<form action="/products" method="post">
  <div>
    Name: <input type="text" name="name">
  </div>
  <div>
    Price: <input type="number" name="price">
  </div>
  <div>
    Description: <input type="text" name="description">
  </div>
  <div>
    Supplier ID:<br>
    <select name="supplier_id" id="">
    <% Supplier.all.each do |supplier| %>
      <option value="<%= supplier.id %>"><%= supplier.name %> </option>
    <% end %>
  </div>

  <div><br></div>
  <input type="submit" value="Create Product">
</form>